article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,button,input,select,textarea{font-family:sans-serif;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin-left:0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.reset{padding:0;margin:0;}
.reset_list{padding:0;margin:0;list-style-type:none;}
.clear{clear:both;}
.serif{font-family:'adobe-caslon-pro',Garamond,'Hoefler Text','Times New Roman',Times,serif;}
.sans{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;}
html{background:#3f3c42 fixed url(../../images/backgrounds/html.png);padding:0;margin:0;height:100%;overflow-y:scroll;}html body{font-family:'adobe-caslon-pro',Garamond,'Hoefler Text','Times New Roman',Times,serif;color:#3f3c42;background:#d2ccc8 repeat-y url(../../images/backgrounds/body.jpg);margin:0 auto;width:920px;padding:20px;min-height:97%;box-shadow:0 0 30px rgba(0, 0, 0, 0.6);text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);}
a{color:#339999;text-decoration:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}a:hover{color:#157b7b;}
h1,h2,h3,h4{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;padding-top:0;margin-top:0;font-weight:normal;}
h2{text-transform:uppercase;font-size:36px;}
h3{font-size:24px;margin-bottom:0px;}
p{margin-top:0;}
header.main{background:no-repeat bottom right url(../../images/divider.png);overflow:hidden;margin-bottom:40px;}header.main h1#logo{padding:0;margin:0;float:left;}header.main h1#logo a{display:block;height:128px;width:128px;background:url('../../images/logo.png');text-indent:-999em;}
header.main #player{float:right;background:#aaa;text-indent:-999em;height:20px;width:300px;}
header.main nav{float:right;clear:right;}header.main nav ul{padding:0;margin:0;list-style-type:none;margin-top:20px;}header.main nav ul li{padding:0;margin:0;float:left;margin-left:40px;}header.main nav ul li a{color:#616060;display:block;padding:10px;font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:19px;text-transform:uppercase;}header.main nav ul li a:hover{color:#339999;}
header.main nav ul li.current-menu-item a{color:#3f3c42;}header.main nav ul li.current-menu-item a:hover{color:#339999;}
header.main .social{clear:right;float:right;color:#777575;font-style:italic;margin-right:10px;margin-top:20px;margin-bottom:10px;}header.main .social a{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;color:#616060;font-style:normal;font-size:1.1em;text-transform:uppercase;}header.main .social a:hover{color:#339999;}
.single-post #menu-item-20 a,.blog #menu-item-20 a,.archive #menu-item-20 a{color:#3f3c42;}.single-post #menu-item-20 a:hover,.blog #menu-item-20 a:hover,.archive #menu-item-20 a:hover{color:#339999;}
section.main{min-height:350px;}section.main .left_column{width:480px;float:left;margin-right:100px;}
section.main .right_column{width:240px;float:left;}
footer.main{padding:20px 20px 0;margin-top:20px;background:no-repeat top center url(../../images/backgrounds/footer.png);overflow:hidden;}footer.main .copyright{font-size:13px;color:#777575;float:left;line-height:30px;}
footer.main .social{float:right;}footer.main .social a{float:left;margin-left:40px;height:30px;background:no-repeat center center;text-indent:-999em;}footer.main .social a.facebook{width:84px;background-image:url(../../images/facebook.png);}
footer.main .social a.youtube{width:63px;background-image:url(../../images/youtube.png);}
footer.main .social a.twitter{width:74px;background-image:url(../../images/twitter.png);}
.home p#masthead{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:40px;margin:0 0 20px;}
.home #slider{position:relative;height:360px;}.home #slider .slide{height:360px;width:920px;color:#aaa;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.4);position:relative;}.home #slider .slide .info{padding:60px 40px 60px 640px;}.home #slider .slide .info h4{font-size:30px;margin-bottom:20px;}
.home #slider .slide .info a{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:30px;}
.home #slider .slide .info .date,.home #slider .slide .info .time{font-size:22px;line-height:1;}
.home #slider .slide .info .time{margin-bottom:60px;}
.home .slider_nav{float:right;margin:15px 0 20px;}.home .slider_nav a{height:11px;width:11px;float:left;text-indent:-999em;background:no-repeat top center url(../../images/inactive_dot.png);margin-left:5px;}.home .slider_nav a.activeSlide,.home .slider_nav a:hover{background-image:url(../../images/active_dot.png);}
.home #featured{overflow:hidden;}.home #featured h3{font-size:30px;text-transform:uppercase;margin-bottom:10px;}
.home #featured .featured_artist{float:left;width:290px;margin-right:25px;}.home #featured .featured_artist:last-child{margin-right:0;}
.home #featured .featured_artist img{display:block;margin-bottom:10px;}
.home #featured .featured_artist h4{font-size:24px;margin-bottom:10px;}
.home #featured .featured_artist p{font-size:15px;margin-bottom:1em;line-height:18px;}
.featured_events .featured_event{overflow:hidden;margin-bottom:20px;padding-bottom:20px;background:no-repeat bottom right url(../../images/divider.png);}.featured_events .featured_event:last-child{background:none;margin:0;}
.featured_events .featured_event .date,.featured_events .featured_event .time{font-size:19px;color:#616060;}
.featured_events .featured_event .date{float:left;}
.featured_events .featured_event .time{float:right;}
.featured_events .featured_event h4{clear:both;float:left;font-size:28px;margin:0;}
.featured_events .featured_event .cost{float:right;font-size:15px;margin-top:12px;}
.featured_events .featured_event img{display:block;clear:both;margin-bottom:5px;}
.featured_events .featured_event a{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:26px;display:block;text-align:right;}
.upcoming_shows{padding:0;margin:0;list-style-type:none;margin:10px 0;}.upcoming_shows li{margin:0 0 5px;padding:5px;overflow:hidden;}.upcoming_shows li.month{border:1px solid #999;border-width:1px 0;}
.upcoming_shows li:first-child{border-top:0;}
.upcoming_shows li h6{padding:0;margin:0;font-size:16px;line-height:1;font-weight:normal;font-style:italic;padding-top:2px;}
.upcoming_shows li .date,.upcoming_shows li .time{font-size:14px;color:#777575;}
.upcoming_shows li .date{float:left;}
.upcoming_shows li .time{float:right;}
.upcoming_shows li .artist{line-height:1;}
article{overflow:hidden;margin-bottom:20px;padding-bottom:20px;background:no-repeat bottom right url(../../images/divider.png);}article:last-child{background:none;margin:0;}
article h2{font-size:34px;margin-bottom:0;}
article .date{font-size:15px;color:#777575;margin-bottom:5px;}
article blockquote{margin:0;padding:0 0 10px 2em;font-size:1.2em;color:#777575;font-style:italic;}article blockquote p{margin:0;}
article footer ul{padding:0;margin:0;list-style-type:none;overflow:hidden;}article footer ul li{float:left;padding:0;margin:0;margin-right:10px;padding-right:10px;font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:18px;color:#616060;border-right:2px solid #aaa39e;}article footer ul li:last-child{border-right:0;padding:0;margin:0;}
.pagination{font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:22px;}
#sidebar ol,#sidebar ul{padding:0;margin:0;list-style-type:none;overflow:hidden;}#sidebar ol li,#sidebar ul li{margin-bottom:20px;padding-bottom:20px;background:no-repeat bottom right url(../../images/divider.png);}#sidebar ol li:last-child,#sidebar ul li:last-child{background:none;margin:0;}
#sidebar ol li li,#sidebar ul li li{padding:0;margin:0;margin-bottom:4px;background:none;}
#sidebar ol h2,#sidebar ul h2{font-size:22px;color:#616060;margin-bottom:5px;}
#sidebar .widget_search{overflow:hidden;}#sidebar .widget_search form{padding:0;margin:0;}
#sidebar .widget_search h2,#sidebar .widget_search label{display:none;}
#sidebar .widget_search input[type=text]{float:left;width:150px;margin-right:4px;}
#sidebar .widget_search input[type=submit]{float:left;margin-top:1px;}
input[type=text],textarea{font-family:'adobe-caslon-pro',Garamond,'Hoefler Text','Times New Roman',Times,serif;color:#3f3c42;border:1px solid #aaa39e;padding:2px 4px 0;line-height:1;display:block;}input[type=text]:focus,textarea:focus{outline:0;border-color:#339999;}
textarea{line-height:1.5em;height:6em;width:98%;}
button,input[type=submit]{background:#85807c;font-family:'adobe-caslon-pro',Garamond,'Hoefler Text','Times New Roman',Times,serif;color:#fff;border:0;font-size:18px;border-radius:1px;font-weight:normal;padding:7px 6px 3px;line-height:1;display:inline-block;}button:hover,input[type=submit]:hover{background:#339999;cursor:pointer;}
#commentform p{overflow:hidden;padding:0;margin:0;}#commentform p input[type=text]{float:right;width:200px;}
#commentform p label{float:left;font-size:1.3em;color:#777575;line-height:2.2em;}
#commentform textarea{margin-bottom:10px;}
ol.commentlist{padding:0;margin:0;list-style-type:none;border-bottom:1px solid #aaa39e;margin-bottom:20px;}ol.commentlist li{padding:10px;border-top:1px solid #aaa39e;}ol.commentlist li li{list-style-type:none;margin-top:10px;}
ol.commentlist .comment-awaiting-moderation{display:none;}
ol.commentlist br{display:none;}
ol.commentlist .vcard{line-height:40px;font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;font-size:20px;color:#777575;float:left;}ol.commentlist .vcard img{display:inline-block;vertical-align:middle;margin-right:5px;}
ol.commentlist .vcard cite{font-style:normal;}
ol.commentlist .commentmetadata{float:right;font-size:.95em;font-style:italic;margin-top:4px;}ol.commentlist .commentmetadata a{color:#777575;}
ol.commentlist p{padding:0;margin:0;margin:1em 0 0;clear:both;}ol.commentlist p:last-child{margin-bottom:0;}
ol.commentlist .reply{text-align:right;font-family:'league-gothic',Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;}
